# c related
cmake-build-debug

# binary
Implementierung/moore
moore.dSYM

# test files
test.svg
benchmark

#related to "Ausarbeitung"
# Ausarbeitung.pdf

# jetbrains related
.idea

# macOS related
.DS_Store
